ACCURATE_1001_API_TOKEN=
ACCURATE_1001_SIGNATURE_SECRET=
ACCURATE_1001_HOST=
ACCURATE_MAISON_API_TOKEN=
ACCURATE_MAISON_SIGNATURE_SECRET=
ACCURATE_MAISON_HOST=
OWNER_EMAIL=email-akun-saya
SESSION_SECRET=
ACCESS_ADMIN_EMAIL=
ACCESS_ADMIN_PASSWORD=
BLOB_READ_WRITE_TOKEN=
